@import "../../cover";
$themeName:'theme1';

$sideNavBGColor: #1F292D;
$sideNavTextColor: #ff4d6a;
$sideNavHoverBGColor: rgba(#ff4d6a,0.5);
$headerBGColor: #ff4d6a;
$headerTextColor: #e6dbf8;
$headerTextHoverColor: #fff;
$logoTextColor: #ff4d6a;
$bookmarkBGColor: #ff4d6a*1.4;
$borderColor: #ff4d6a;
$mainBgColor: #ffffff;
$bookmarkTextColor: #fff;
$bookmarkTextActiveColor: #ff4d6a;
$bookmarkArrowBGColor: #f5f8fb;
$bookmarkArrowColor: #dcdce6;
$bookmarkActiveBgColor: $mainBgColor;
$contentContainerBGColor: $headerBGColor;
$elButtonBGC:$bookmarkBGColor;

@mixin structureAdjustOfEachTheme{

  }

@import "../selectors";
