@import "../../cover";
$themeName:'theme1';

$sideNavBGColor: #1F292D;
$sideNavTextColor: #ffd3e4;
$sideNavHoverBGColor: rgba(#ee718e,0.5);
$headerBGColor: #ee718e;
$headerTextColor: #e6dbf8;
$headerTextHoverColor: #fff;
$logoTextColor: #ffd3e4;
$bookmarkBGColor: #ee718e*1.3;
$borderColor: #ee718e;
$mainBgColor: #ffffff;
$bookmarkTextColor: #fff;
$bookmarkTextActiveColor: #ee718e;
$bookmarkArrowBGColor: #f5f8fb;
$bookmarkArrowColor: #dcdce6;
$bookmarkActiveBgColor: $mainBgColor;
$contentContainerBGColor: $headerBGColor;
$elButtonBGC:$bookmarkBGColor;

@mixin structureAdjustOfEachTheme{

  }

@import "../selectors";
