
@mixin cover{
  .el-menu--vertical {
    background-color: #f4f4f4;
    color: #000!important;

  }
  .el-menu--popup {
    background-color: #f4f4f4;
    color: #000!important;

  }
  .el-menu--popup:before, .el-menu--popup:after{
    display: none!important;
    color: #000!important;

  }
  .el-menu--popup li {
    background-color: #f4f4f4 !important;
    color: #000!important;

  }
  .el-menu--popup  li:hover {
    background-color: rgba($headerBGColor,0.1) !important;
  }
  .el-menu--popup .el-submenu__title {
    background-color: #f4f4f4 !important;
  }
  .el-menu--popup .el-submenu__title span {
    color: #000!important;
  }
  .el-menu--popup .el-submenu .el-menu-item:hover {
    background-color: #f4f4f4!important;
  }
  .el-menu--popup {
    background-color: #f4f4f4!important;

  }
  .el-menu--popup span {
    color: #000!important;
  }
  .el-menu--popup .is-active {
    background-color: #f4f4f4!important;
  }
  .el-menu--popup .el-submenu .el-menu {
    background-color: #f4f4f4!important;
  }
  .el-menu--popup  .el-submenu__title:hover, .el-submenu .el-menu-item:hover {
    background-color: #f4f4f4!important;
  }
  .el-menu--popup .el-menu-item.is-active {
    background-color: #f4f4f4!important;
  }
  .el-menu--popup .el-icon-arrow-right::before {
   color: #000;
  }

  /*暴力改变样式、、、*/
}
