body[theme=#{$themeName}] {
  @include cover;

  .el-main {
    background-color: $mainBgColor;
    border: 1px solid $borderColor;

  }

  .content-container {
    background-color: $contentContainerBGColor;
  }

  .aside {
    background-color: $sideNavBGColor;

    .side-nav-menu {
      background-color: $sideNavBGColor !important;
    }

    .el-submenu .el-menu {
      background-color: $sideNavBGColor !important;
    }

    .el-submenu__title *, .el-menu-item * {
      color: $sideNavTextColor;
    }

    .el-submenu__title:hover, .el-submenu .el-menu-item:hover {
      background-color: $sideNavHoverBGColor !important;
    }

    .el-menu-item.is-active {
      background-color: $sideNavBGColor !important;
    }

    .el-menu-item.is-active {
      color: $sideNavTextColor !important;
    }

    .side-nav-menu i {
      color: $sideNavTextColor !important;
    }

    .logo-text {
      color: $logoTextColor;
    }
  }

  .header {
    background-color: $headerBGColor;

    .header-top {
      color: $headerTextColor;
      span:hover{
        color:$headerTextHoverColor
      }
      .el-button {
        font-size: 14px;
        color: $headerTextColor;
        border: 1px solid $borderColor;
        background-color: $elButtonBGC;
        &:hover{
          color:$headerTextHoverColor;
          background-color: rgba($elButtonBGC,0.8);
          border-color: $headerTextHoverColor;
        }

      }
      .theme{
        color: $headerTextColor;
        &:hover{
          color:$headerTextHoverColor;
        }
      }
    }

    .header-bookmark {
      .bookmarks {
        background-color: $bookmarkBGColor;
        color: $bookmarkTextColor;
        border: 1px solid $borderColor;
        border-bottom: none;
      }

      .bookmarks:after {
        background-color: $headerBGColor;
        border-left: solid 1px $borderColor;
        border-bottom: solid 1px $borderColor;
      }

      .bookmarks li:last-child:after {
        background-color: $bookmarkActiveBgColor;
      }

      .bookmarks-last-not-active li:last-child:after {
        background-color: $bookmarkBGColor
      }

      .bookmark {
        border-right: 1px solid $borderColor;
      }

      .bookmark:hover {
        color: $bookmarkTextActiveColor;
        transition: font-size 0.3s, width 0.3s;
      }

      .bookmark:not(.bookmark-active):hover {
        color: $bookmarkTextActiveColor;
        transition: font-size 0.3s, width 0.3s;
        background-color: rgba($bookmarkActiveBgColor, 0.5);
      }

      .bookmark-active {
        background-color: $bookmarkActiveBgColor;
        color: $bookmarkTextActiveColor;
      }

      .iconguanbi1 {
        color: $bookmarkTextActiveColor;
      }

      .arrow {
        background-color: $headerBGColor;
      }
      .left-arrow {
        border-right: 1px solid $borderColor;
        border-top: 1px solid $borderColor;
      }
      .right-arrow {
        border-left: 1px solid $borderColor;
        border-top: 1px solid $borderColor;
      }

      .arrow span {
        color: $bookmarkArrowColor;
      }

      .close-all {
        color: $bookmarkTextColor;
        border-bottom: none;
      }

      .close-all:hover {
        color: $headerTextHoverColor;
      }

    }
  }

}

